django==5.2.14
psycopg[binary]==3.3.4
gunicorn==26.0.0
requests==2.34.2
pika==1.3.2
opentelemetry-sdk==1.42.1
opentelemetry-exporter-otlp-proto-http==1.42.1
opentelemetry-instrumentation-django==0.63b1
opentelemetry-instrumentation-psycopg==0.63b1
opentelemetry-instrumentation-urllib3==0.63b1
